@page
@model IndexModel
@{
}
<h2>My Connections</h2>

<div>
    <a asp-page="Create">Add new Connection</a>
    @if (Model.afterAddMessage != null)
    {
        <div>
            @Model.afterAddMessage
        </div>
    }
</div>
<div>
    @if (Model.Connect.Count() > 0)
    {
        <form method="post">
            <div>
                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.Connect.FirstOrDefault().GameGame)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.Connect.FirstOrDefault().Connect)
                        </th>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.Connect.FirstOrDefault().pointme)
                        </th>
                    </tr>
                </table>
            </div>
        </form>
        <th>
           
        </th>
        <tr>

        </tr>
        @foreach (var item in Model.Connect)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Connect)
            </td>
            <td>
                @Html.DisplayFor(m => item.ID)
            </td>
            <td>
                @Html.DisplayFor(m => item.GameGame)
            </td>
            <td>
                @Html.DisplayFor(m => item.pointme)
            </td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.ID">Edit</a>
                <button asp-page-handler="Delete" asp-route-id="@item.ID">&times;</button>
            </td>

        </tr>
            
        }
        
}
else
{
    <p>No Go Bro</p>

}
    </div>